* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font-family: $primary-font-regular;
	font-size: 1.4rem;
	position: relative;
	// overflow-y: hidden;
	// @media screen and (max-width:1200px) {
	// 	overflow-y: auto;
	// }
}

/**
* Firefox specific rule
*/

@-moz-document url-prefix() {
	body {
		font-weight: lighter !important;
	}
}
