.form-control{
  &:focus,
  &:hover{
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
}
.two-col-layout {
  display: flex;
  flex-wrap: wrap;

  &--left,
  &--right {
    padding: 2.5rem 3rem;
  }
}

.custom-tabs {
    
    &.nav-tabs {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: auto;
        height: 25vh;
        border-bottom: 0 none;
  }

  .nav-item {
    margin-bottom: 0.6rem;
  }

  .nav-link {
   
    border: 0 none;
    padding: 0.5rem 1.9rem;
    color: $text-clr-black;

    &:hover,
    &:focus {
      border: 0 none;
    }

    &.active {
      border: 0 none;
      border-radius: 0;
    }

  
  }


}
.profile{
    width: 100%;
    display: flex;
    .member-details {
            margin-left: 1.5rem;
    
            p {
                text-align: left;
    
                &:nth-of-type(1) {
                    font-family: $primary-font-bold;
                    font-size: 1.3rem;
                }
    
                &:nth-of-type(2) {
                    font-family: $primary-font-regular;
                    font-size: 1rem;
                }
            }
    
    
        }
  .profile-picture {
    // background-color: $profile-clr-1;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 3.7rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
}

.profile-picture--no {
  &:nth-of-type(3n + 1) {
    .profile-picture {
      background-color: $profile-clr-1;
    }
  }
  &:nth-of-type(3n + 2) {
    .profile-picture {
      background-color: $profile-clr-2;
    }
  }
  &:nth-of-type(3n + 3) {
    .profile-picture {
      background-color: $profile-clr-3;
    }
  }
}
.profile-picture {
  position: relative;
  &::after {
    font-family: $icomoon;
    position: absolute;
    width: 1.5rem;
    height: 1.8rem;
    top: -4px;
    right: -7px;
  }
}