a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
     li {
        list-style: none;

    }
}

.dotted-border{
    background-image: linear-gradient(to right, #a69999 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    &--top{
        background-position: bottom;
    }
}
