@import "variables";

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Allocated-but-Not-Accepted:before {
    content: $icon-Allocated-but-Not-Accepted;
    color: #5d5d5d;
  }
  .icon-Allocation-Completed:before {
    content: $icon-Allocation-Completed;
    color: #15734e;
  }
  .icon-calendar:before {
    content: $icon-calendar;
    color: #707070;
  }
  .icon-contactus:before {
    content: $icon-contactus;
    color: #fff;
  }
  .icon-Document:before {
    content: "\e904";
    color: #fff;
  }
  .icon-dropdown:before {
    content: "\e905";
    color: #54586e;
  }
  .icon-Flagged-for-Discussion:before {
    content: $icon-Flagged-for-Discussion;
    color: #f7a029;
  }
  .icon-home:before {
    content: $icon-home;
    color: #fff;
  }
  .icon-instructions:before {
    content: $icon-instructions;
    color: #fff;
  }
  .icon-logout:before {
    content: $icon-logout;
  }
  .icon-myTeam:before {
    content: $icon-myTeam;
    color: #fff;
  }
  .icon-PMS:before {
    content: $icon-PMS;
    color: #0c55b8;
  }
  .icon-redArrow:before {
    content: $icon-redArrow;
    color: red;
  }
  .icon-remove:before {
    content: $icon-remove;
  }
  .icon-RoleClarity:before {
    content: $icon-RoleClarity;
    color: #0c55b8;
  }
  .icon-Search:before {
    content: $icon-Search;
    color: #fff;
  }
  .icon-targetsetting:before {
    content: $icon-targetsetting;
    color: #0c55b8;
  }
  .icon-tools:before {
    content: $icon-tools;
    color: #fff;
  }
  .icon-WhiteArrow:before {
    content: $icon-WhiteArrow;
    color: #fff;
  }
  .icon-Yet-to-be-Allocated:before {
    content: $icon-Yet-to-be-Allocated;
    color: #c93535;
  }