// Fonts
$primary-font-regular: 'OpenSans-Regular', sans-serif;
$primary-font-light: 'OpenSans-Light', sans-serif;
$primary-font-medium: 'OpenSans-Medium', sans-serif;
$primary-font-semibold: 'OpenSans-Semibold', sans-serif;
$primary-font-bold: 'OpenSans-Bold', sans-serif;
$primary-font-extrabold: 'OpenSans-ExtraBold', sans-serif;

// Color

$text-color: #2d2d2d;
$text-clr-secondary-blue :#0C5F9D;
$text-clr-blue: #031D8B;
$primary-blue: #0C56BB;
$clr-white : #fff;
$text-clr-black: #171717;
$text-clr-dark-gray: #525252;
$clr-red: #C93535;
//backgroud color 
$bg-clr-white: #fff;
$bg-clr-grey: #EDF1F5;
$bg-clr-blue: #0C56BB;
$bg-clr-light-blue : #EFEFEF;
$text-clr-secondary-blue: #006AE1;
//profile colors
$profile-clr-1: #77A868;
$profile-clr-2: #C7CC78;
$profile-clr-3: #82B492;

//box shadow
$common-box-shadow: #00000029;
$common-box-shadow-2: #0C51B00D;

//border
$grey: rgb(122, 119, 119,0.5);

// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;

// path
$images-path: "../images" !default;

// icomoon
$icomoon: 'icomoon';
$icon-Allocated-but-Not-Accepted: '\e900';
$icon-Allocation-Completed: '\e901';
$icon-calendar: '\e903';
$icon-contactus: '\e902';
$icon-RoleClarity: '\e903';
$icon-Document: '\e995';
$icon-dropdown: '\e996';
$icon-Flagged-for-Discussion: '\e997';
$icon-home: '\e998';
$icon-instructions: '\e999';
$icon-logout: '\e99a';
$icon-myTeam: '\e99b';
$icon-PMS: '\e99c';
$icon-redArrow: '\e99d';
$icon-remove: '\e99e';
$icon-Search: '\e9a0';
$icon-targetsetting: '\e9a1';
$icon-tools: '\ee9a2';
$icon-WhiteArrow: '\e9a3';
$icon-Yet-to-be-Allocated: '\e9a4';

