// Fonts
$primary-font-regular: 'OpenSans-Regular', sans-serif;
$primary-font-light: 'OpenSans-Light', sans-serif;
$primary-font-medium: 'OpenSans-Medium', sans-serif;
$primary-font-semibold: 'OpenSans-Semibold', sans-serif;
$primary-font-bold: 'OpenSans-Bold', sans-serif;
$primary-font-extrabold: 'OpenSans-ExtraBold', sans-serif;

// Color
$base-color: #e23434;
$text-color: #2d2d2d;

// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;

// path
$images-path: "../images" !default;

// icomoon
