// Fonts
$primary-font-regular: 'OpenSans-Regular', sans-serif;
$primary-font-light: 'OpenSans-Light', sans-serif;
$primary-font-medium: 'OpenSans-Medium', sans-serif;
$primary-font-semibold: 'OpenSans-Semibold', sans-serif;
$primary-font-bold: 'OpenSans-Bold', sans-serif;
$primary-font-extrabold: 'OpenSans-ExtraBold', sans-serif;

// Color

$text-color: #2d2d2d;
$text-clr-secondary-blue :#0C5F9D;
$text-clr-blue: #031D8B;
$primary-blue: #0C56BB;
$clr-white : #fff;
$text-clr-black: #171717;
$clr-red: #C93535;
//backgroud color 
$bg-clr-white: #fff;
$bg-clr-grey: #EDF1F5;
$bg-clr-blue: #0C56BB;
$bg-clr-light-blue : #EFEFEF;
$text-clr-secondary-blue: #006AE1;
//profile colors
$profile-clr-1: #C7CC78;

//box shadow
$common-box-shadow: #00000029;

//border
$grey: rgb(122, 119, 119);

// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;

// path
$images-path: "../images" !default;

// icomoon


  
.icon-Allocated-but-Not-Accepted:before {
    content: "\e900";
    color: #5d5d5d;
  }
  .icon-Allocation-Completed:before {
    content: "\e901";
    color: #15734e;
  }
  .icon-calendar:before {
    content: "\e902";
    color: #707070;
  }
  .icon-contactus:before {
    content: "\e903";
    color: #fff;
  }
  .icon-Document:before {
    content: "\e904";
    color: #fff;
  }
  .icon-dropdown:before {
    content: "\e905";
    color: #54586e;
  }
  .icon-Flagged-for-Discussion:before {
    content: "\e906";
    color: #f7a029;
  }
  .icon-home:before {
    content: "\e907";
    color: #fff;
  }
