.btn{
    @include btn;
    
}
.btn-primary{
    background-color:$primary-blue ;
    color: $clr-white;
    border: 1px solid $primary-blue;
    
    &:hover,
    &:focus{
        background-color:transparent;
        color: $primary-blue;
        span{
            &::before{
                color: $primary-blue;

            }

        }
    }
}
.btn-secondary{
    &:hover,
    &:focus{
        color: $clr-white;
    }
}
.btn-dark{
        &:hover,
        &:focus {
            background-color: transparent;
            border: 1px solid $text-clr-black;
            color: $text-clr-black;
            span {
                    &::before {
                        color: $text-clr-black;
            
                    }
            
                }
        }
}
.btn-outline-dark{
    color: $text-clr-black;
    span {
            &::before {
                color: $text-clr-black;
            }
        }
    &:focus,
    &::hover{
        color: $clr-white;
        span {
                &::before {
                    color: $clr-white;
                }
            }
    }
   

}
.btn-danger{
    background-color: transparent;
    color: $clr-red;
    border: 1px solid $clr-red;
    &:hover,
    &:focus {
        background-color: $clr-red;
        color: $clr-white;
        span{
            &::before {
            
                color: $clr-white;
                }
            
        }
    }
}
.btn-link{
    padding-left:0;
    color: $primary-blue;
    text-decoration: none;
        &:hover,
        &:focus {
           background-color: $primary-blue;
            color: $clr-white;
        }
}
.btn-arrow{
    // &:hover,
    //     &:focus {
    //        span{
    //         &::before{

    //             color: inherit;
    //         }
    //        }
    //     }
    span{
        margin-left:2rem;
    }
}
.btn-arrow--rotated{
    span{
        transform: rotate(180deg);
        display: inline-block;
        margin-right: 15px;
        margin-left: 0;
    }
}
.btn-danger{
    span{
        margin-left: 1rem;
    }
}