.modal{
    &-header{
        border-bottom: 0;
        display: block;
        .modal-title{
            margin-bottom: 0.7rem;
        }
        .modal-subtitle{
            font-family: $primary-font-regular;
            text-align: start;
        }
    }
    &-content{
        height: 100vh;
        border-radius: 0;
        border: 0;
        padding: 3rem;
        
    }
    &-body{
        .popup-actions{
            display: flex;
            justify-content:space-around;
            margin-top: 3rem;
            &.form-action{
                justify-content: flex-start;
            }
        }
    }
    &-dialog{
        margin:0;
        position:absolute;
        right: 0;
        width: 400px;
    }
}
.modal.fade .modal-dialog {
    transform: translate3d(0, 0, 0);
}
.confirmation{
    position:absolute;
    top:50%;
    transform: translateY(0);
    text-align: center;
    width: 100%;
    .confirmation-text {
       font-family: $primary-font-bold;
       margin-top: 1.5rem;
    }
    &-text{
        margin-bottom: 4rem;
    }

    &-received{
       
        
        padding: 0 5rem;
        transform: translateY(-55%);
        img{
            margin-bottom: 1.5rem;
        }
        .confirmation-text{
            margin-bottom: 1.4rem;
        }
        .confirmation-subtext{
            font-size:1.4rem;
        }
    }
    
}
.add-kra-modal{
    .confirmation-received{
        padding: 0;
        .add-kra-text{
            font-size: 1.4rem;
            $font-family: $primary-font-regular;
        }
        .kra-subtext{
            font-size: 1.8rem;
            font-family: $primary-font-bold;
            color: $text-clr-secondary-black;
        }
    }
}