.navigation{
 padding: 5.5rem 1.8rem;
 @media screen and (max-width:991px) {
    padding: 2rem 1.8rem;
    height: 100%;
 }
 &-list{
    width: 10rem;
 }
    &-list_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.8rem;

        &__logo{
            background-color: $primary-blue;
            width: 35px;
            height: 34px;
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:5px;
        }
        &__link{
            font-size: 1rem;
            color: $text-clr-blue;
            text-align: center;
            font-family: $primary-font-medium;
            text-transform: capitalize;
        }
    }
 }
