.sidebar{
    background-color: $bg-clr-white;
    border-right: 1px solid $light-blue;
    position: fixed;
    height: 100%;
    z-index: 9;
    .self-profile{
        @media screen and (max-width:578px) {
            display: none;
        }
    }
   @media screen and (max-width:578px) {
    left: -100%;
    
   }
    &.sidebar-mobile{
        &--open{
            left: 0;
            width: 100%;
            transition: left 0.5s ease;
        }
    }
}