.kra-table {
    thead {
        tr {
            vertical-align: middle;
            border-bottom: 0.5px solid rgba($primary-blue, 0.6);

            th {
                border-bottom: 0;
                font-size: 1.8rem;
                padding-top: 0 !important;

                &:nth-child(2) {
                    text-align: right;

                    .btn {
                        margin-right: 3rem;
                        padding: 0.3rem 2rem;
                        text-transform: uppercase;
                    }
                }

                &:first-of-type {
                    width: 76%;
                }

                &:last-of-type {
                    white-space: nowrap;
                    text-align: center;
                    // padding-right: 3rem !important;
                }

            }
        }
    }

    tbody {
        .close-btn {
            display: none;
        }

        .not-equal-to {
            display: none;
        }

        input {
            background: transparent;
            padding: 0.2rem 0;
            border: 0;
            width: 35px;
            text-align: center;
        }

        tr {
            border-bottom: 1px solid rgba($grey, 0.5);

            td {
                // padding-top: 0.5rem !important;
                // padding-bottom: 0.5rem !important;
                &:first-of-type {
                    padding-left: 2rem;
                }
            }

            &:last-of-type {
                border-bottom: 0;

                td {
                    border-bottom: 0;
                    padding-top: 2rem !important;
                    font-size: 1.8rem;

                    &:first-of-type {
                        padding-left: 5.5rem;
                    }

                    &:last-of-type {
                        text-align: center;
                    }
                }
            }

            &:nth-last-child(2) {

                border-bottom: 1px solid rgba($primary-blue, 0.6);

            }


        }

        .data-row {
            td {
                font-size: 1.6rem;


                span {
                    margin-right: 3rem;
                }

                &:last-of-type {
                    text-align: center;
                    display: block;
                    border-bottom: 0;
                    position: relative;
                    // padding-right: 3rem !important;
                }
            }

            &-total {
                font-family: $primary-font-bold;

                td {
                    &:nth-of-type(2) {
                        width: 25%;
                    }
                }
            }
        }

    }

    // .table>: not(caption) > * > *
    >:not(caption) {
        >* {
            >* {
                padding: 1rem 0;
                vertical-align: middle;
            }
        }
    }


    .total-value {
        padding: 1rem 1.2rem;
        color: $text-clr-black;
        border-radius: 10px;

        &.not-equal {
            background-color: rgba($clr-red, 0.3);

        }
    }

}

.edit-table {

    .not-equal-to {
        display: block;

    }

    .edit-kra {
        display: none;
    }

    thead {
        tr {
            th {
                &:last-of-type {
                    padding-right: 3rem !important;
                }
            }

        }
    }

    tbody {
        .data-row {
            .close-btn {
                display: inline-block;
                font-size: 1rem;
                padding: 0;
                position: absolute;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                border: 1px solid $grey;
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 3rem;

                span {
                    margin-right: 0;

                    &::before {
                        color: $grey;
                    }
                }
            }

        }

        tr {

            &:last-of-type {
                td {


                    .not-equal-to {
                        display: block;
                        font-size: 1.2rem;
                        font-family: $primary-font-regular;
                        margin-right: 2.5rem;
                    }

                    .total-value {
                        background-color: rgba($primary-blue, 0.2);
                        // font-family: $primary-font-bold;
                    }
                }
            }

            td {
            
                &:last-of-type {
                    padding-right: 5rem !important;
                }
            }
        }

        input {
            background: rgba($bg-clr-light-blue, 0.6);
            border-radius: rgba($bg-clr-light-blue, 1);
            border-radius: 5px;
        }
    }
}

// .edit-table {
//     .new-kra-added {
//         td {
//             &:last-of-type {
//                 position: absolute !important;
//                 right: 15px;
//             }
//         }
//     }
// }
.edit-table{
    .new-kra-added {
        position: relative;
        height: 47px;
    
        td {
            display: table-cell;
    
            input {
                background: $primary-blue;
                border: 0.3px solid $primary-blue;
                border-radius: 3px;
                color: $clr-white;
                &::placeholder{
                    color: $clr-white;
                }
            }
    
            &:first-of-type {
                border-bottom: 0;
                display: block;
                z-index: 2;
                position: absolute;
                /* height: 100%; */
                top: 50%;
                transform: translateY(-50%);
            }
    
            &:last-of-type {
                position: absolute !important;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                .close-btn {
                    right: 0;
                }
            }
        }
    
        &::before {
            content: "";
            width: 100%;
            background: $table-row-highlight;
            position: absolute;
            left: 0;
            right: 0;
            height: 40px;
            top: 3px;
            border: 0.3px solid $light-blue;
            z-index: 0;
            border-radius: 3px;
        }
    }

}