.view-comment {
    .modal-dialog {
        width: 60rem;

        .chat-wrapper {
            margin-bottom: 2rem;
        }

    }
}

.user-details {
    display: flex;

    span {
        height: 3.3rem;
        width: 3.3rem;
        border-radius: 3.3rem;
        background-color: $primary-blue;
        color: $clr-white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    .name {
        font-size: 1.4rem;
        font-family: $primary-font-bold;

        &+p {
            font-size: 1.1rem;
        }
    }
}

.comment-header {
    display: flex;
    justify-content: space-between;

    .designation {
        background-color: $bg-clr-grey;
        border: 1px solid $grey;
        display: flex;
        align-items: center;
        padding: 0.6rem;
        font-size: 1.1rem;
        font-family: $primary-font-bold;
        .star {
            margin-right: 5px;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        // border: 1px solid $;
    }

    .timestamp {
        text-align: end;

        .date {
            font-size: 1.3rem;
            font-family: $primary-font-bold;
        }

        p {
            font-size: 1rem;
            font-family: $primary-font-regular;
        }
    }
}

.comment {
    &-chain {
        margin: 2rem 0 1.5rem 0;
        display: flex;
        align-items: center;
        width: 100%;

        .comment-chain-wrapper {
            display: flex;
            position: relative;
            margin-left: 2rem;
            width: 85%;

            li {
                position: relative;
                padding-right: 3rem;
                font-size: 1.3rem;

                &::before {
                    content: '';
                    position: absolute;
                    background: $text-clr-black;
                    border-radius: 0.5rem;
                    height: 0.5rem;
                    width: 0.5rem;
                    top: -6px;
                }


                &::after {
                    content: "";
                    height: 1px;
                    width: 100%;
                    border: 1px dotted $grey;
                    position: absolute;
                    top: -5px;
                    left: 0;
                }

                &:last-of-type {
                    &::after {
                        content: '';
                        display: none;
                    }
                }

            }
        }

        .chain-title {
            margin-right: 1rem;
            display: inline-block;
            width: 15%;
            font-family: $primary-font-bold;
        }

    }

    &--left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        float: left;
        width: 31rem;
        padding-bottom: 2rem;

        .chat {
            background-color: $table-row-highlight;
            border-radius: 3px;
            border: 1px dashed $border-brown;
            color: $table-text-highlight;
            padding: 1rem;
            margin-top: 0.5rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                border-bottom: 1px dashed $border-brown;
                border-right: 1px dashed $border-brown;
                background-color: $table-row-highlight;
                position: absolute;
                left: 110px;
                bottom: -10px;
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                bottom: -10px;
                left: 5px;
                z-index: 0;
            }

            p {
                

                &:nth-child(odd) {
                    font-family: $primary-font-bold;
                    font-size: 1.5rem;
                }
                &:nth-child(even){
                    font-family: $primary-font-regular;
                    font-size: 1.3rem;
                    margin-bottom: 1.5rem;
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }

    &--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        float: right;
        padding-bottom: 2rem;

        width: 30rem;

        .chat {
            font-size: 1.5rem;
            font-style: italic;
            background-color: $bg-clr-grey;
            border-radius: 5px;
            padding: 1.2rem 1.9rem;

        }
    }
}

.chat {
    &-summary {
        font-family: $primary-font-bold;
        font-size: 1.2rem;
    }

    &-profile {
        display: flex;
        align-items: center;
        font-style: normal;
        margin-top: 1rem;
        font-family: $primary-font-bold;

        img {
            height: 3.7rem;
            width: 3.7rem;
            border-radius: 3.7rem;

        }
    }

}