.exception-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 2.5rem 3.4rem 0 3.4rem;
    box-shadow: 0px 3px 26px $common-box-shadow-2;
}

.exception-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;

    &.edit-kra-heading {
        width: 70%;
    }
}

.edit-kra-form {
    display: none
}

.edit-table {
    width: 70%;

    &+.edit-kra-form {
        display: block;
        width: 30%;
        padding-left: 6.5rem;

        .form-title {
            font-size: 1.4rem;
            font-family: $primary-font-bold;
            margin-bottom: 2rem;
        }
    }
}

.exception-list-summary {
    border-bottom: 0;

    .members-details {
        flex-direction: column;

        .value {
            margin-right: 0;
        }
    }

    .approval-status-summary {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>div {
            position: relative;
            border-bottom: 1px dotted $grey;
            padding: 0.5rem 0;
            margin-left: 1.5rem;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        .value {
            // position: absolute;
            // right: 0;
            font-family: $primary-font-bold;
            font-size: 1.8rem;
            margin-right: 0;
        }

        .accepted-value {
            color: $graph-clr-light-green;

        }

        .rejected-value {
            color: $clr-red;
        }
    }

}


.exception-list {
    // margin-top: 2.5rem;


    .accordion {
        .accordion-items-title {
            width: 80%;
            display: flex;
            justify-content: space-between;
            font-family: $primary-font-bold;
            margin-bottom: 8px;
        }
    }

    .comment-chain {
        .chain-title {
            font-size: 1.3rem;
        }
    }

    .comment-chain-style-2 {
        margin-top: 0;
        padding: 2rem 1rem 1rem 1rem;

    }

    .kra-result-wrapper {
        padding-top: 1.5rem;
        // height: 55vh;
        // overflow-y: auto;
    }

    .comment-header {
        width: 80%;
        z-index: 0;


        .designation {
            background: transparent;
        }

        .timestamp {
            text-align: center;
        }

    }


}

.exception-list-wrap {


    .profile {
        justify-content: space-between;

        &>div {
            align-items: center;
        }

        .profile-picture {
            width: 4.8rem;
            height: 4.8rem;
        }

        .exception-count {
            text-align: end;

            p {
                font-family: $primary-font-bold;
                font-size: 1.2rem;
            }

            span {
                color: $primary-blue;
            }
        }

        .member-details {
            .member__name {
                font-size: 1.8rem;
            }

            p:nth-of-type(2),
            p:nth-of-type(3) {
                font-size: 1.4rem;
            }
        }
    }


    .kra-result-wrapper {
        display: flex;
        justify-content: space-between;

        .response-form {
            .form-title {
                font-size: 1.2rem;
            }
        }

        .kra--view {
            width: 70%;
            padding-right: 30px;
            border-right: 1px solid rgba($grey, 0.3);
            margin-top: 0;
        }

        .kra--add-comment {
            width: 27%;
        }

    }
}

.exception-member-list {
    .nav-tabs {
        border-bottom: 0;


        .nav-item {
            width: 100%;
            margin-bottom: 1rem;

            .nav-link {
                justify-content: space-between;
                align-items: center;
                border: 0;
                border-radius: 0;

                .exception-count {
                    display: inline-block;

                    width: 2.6rem;
                    height: 2.6rem;
                    font-size: 1.6rem;
                    font-family: $primary-font-bold;
                    border-radius: 2px;
                }


            }
        }

        &.pending-list {
            .exception-count {
                background-color: rgba($primary-blue, 0.08);
                color: $primary-blue;
            }

            .nav-link {
                &.active {
                    .exception-count {
                        background-color: $primary-blue;
                        color: $clr-white;

                    }

                }
            }
        }

        &.approved-list {
            .exception-count {
                background-color: rgba($graph-clr-light-green, 0.08);
                color: $graph-clr-light-green;
            }

            .nav-link {
                &.active {
                    .exception-count {
                        background-color: $graph-clr-light-green;
                        color: $clr-white;

                    }

                }
            }
        }

        &.rejected-list {
            .exception-count {
                background-color: rgba($clr-red, 0.08);
                color: $clr-red;
            }

            .nav-link {
                &.active {
                    .exception-count {
                        background-color: $clr-red;
                        color: $clr-white;

                    }

                }
            }
        }

    }
}