.role_allocation-summary {
    border-bottom: 1px solid #000;
    .section-title {
        color: $text-clr-secondary-blue;
    }

    .card {
        border-radius: 10px;

        .value {
            color: $primary-blue;
            margin-right: 15px;
            margin-bottom: 0;
        }
       
    }

    .members {
        &-details {
            display: flex;
            align-items: center;

            &:first-of-type {
                border-right: 1px solid #eee;
                @media screen and (max-width: 1200px) {
                    border-bottom: 1px solid #eee;
                    border-right: 0 none;
                }
            }

            p {
                color: $text-clr-black;
                font-family: $primary-font-bold;
                font-size: 1.1rem;

            }
        }
    }
}
.allocation-category{
    &__list{
        padding: 1.3rem;

    }
    &__item{
   display: flex;
        color: $text-clr-black;
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
        p{
            font-family: $primary-font-medium;
            margin-left: 1rem;
        }
        span{
            font-family: $primary-font-bold;
        }
    }
}
.team-listing{
    &--add-role{
        .card{
            .guide-lines{
                font-size: 1.4rem;
                p:first-of-type{
                    span{
                        font-weight: 600;
                    }
                }
            }

        }
    }
}
.kra{
    &>div{
        width: 45%;
    }
    &--add{
        margin-right: 1.8rem;
    }
    &--view{
        margin-left: 1.8rem;
    }

}