.role-history {
    // margin-left: -1rem;
    // padding-left: 1.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .assignment-input {
        align-items: flex-end;

        p {
            &:first-of-type {
                color: #54586E;
                font-family: $primary-font-bold;
            }
        }

        .start-date,
        .end-date {
            margin-top: 5px;
        }
    }

    &>div[class^=card] {
        margin-bottom: 1.5rem;

        .saved {
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                background-color: darkgreen;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 1.2rem;
                position: absolute;
                right: -2rem;
                top: 5px;

            }

            &--not {
                &::before {
                    background-color: $clr-red;
                }
            }
        }
        .flagged{
            position: relative;
            display: inline-block;
            &::before {
                    content: $icon-Flagged-for-Discussion;
                    font-family: $icomoon;
                    color: #f7a029;
                    position: absolute;
                    right: -4rem;
                    top: 0px;
            }
        }
    }
}

.role-history-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .btn-link {
        padding: 0;

        &:focus,
        &:hover {
            background-color: transparent;
            color: initial;
        }
    }
}
.role-details-wrapper{
    display: flex;
    justify-content: space-between;
    .comment-chain {
        background-color: rgba($bg-clr-grey, 0.5);
        padding: 1rem;
        margin-bottom: 0;
    }
    .role-actions-wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .btn{
            margin-bottom: 1.5rem;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .addrole-details{
        width: 60%;
    }
}